[submodule "deps/subcanvas"]
	path = deps/subcanvas
	url = git@github.com:ble/subcanvas.git
[submodule "deps/google-closure-library"]
	path = deps/google-closure-library
	url = git@github.com:ble/google-closure-library.git
